body {
  font-family: Arial, sans-serif;
  background-color: #c1d5c0; 
  color: #333;
  margin: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #b6c7b0; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.input-wrapper {
  background-color: #4e654e; 
  border-radius: 4px;
  padding: 5px;
}

.input-wrapper input[type="text"],
.input-wrapper select {
  border: none;
  width: 100%;
  padding: 5px;
  background-color: transparent; 
  color: #fff; 
}

.checkbox-flex-container {
  display: flex; 
}

.custom-checkbox {
  width: 24px;
  height: 24px;
  border-radius: 4px; 
  border: 2px solid #006400;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px; 
  margin-bottom: 10px;
  cursor: pointer;
}
.custom-checkbox::before {
  content: "";
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .custom-checkbox {
  background-color: #006400; 
}

input[type="submit"] {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #006400;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #006400;
}

#output {
  margin-top: 30px;
  text-align: center;
}
